
.header {
    height: 90px;
    margin: 0;
    transition: all 0.5s;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header.sticked{
    height: 70px;
}

.header .logo .img{
    max-height: 40px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: #8d260f;
    font-family: var(--font-default);
}

.header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}